{% extends 'setup/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h2>Add or Update a Source Company</h2>
<hr>
<form method="POST" class="source-form" novalidate>{% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-3 mb-0">
            {{ form.name|as_crispy_field }}
        </div>        
        <div class="form-group col-md-6 mb-0">
            {{ form.address|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ form.office_phone|as_crispy_field }}
        </div>
    </div>
    
    <div class="form-row">
        <div class="form-group col-md-4 mb-0">
            {{ form.main_contact|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
            {{ form.contact_email|as_crispy_field }}
        </div> 
        <div class="form-group col-md-4 mb-0">
            {{ form.contact_phone|as_crispy_field }}
        </div>       
    </div>
    <div class="form-row">
        <div class="form-group col-md-4 mb-0">
            {{ form.billing_contact|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
            {{ form.billing_email|as_crispy_field }}
        </div> 
        <div class="form-group col-md-4 mb-0">
            {{ form.billing_phone|as_crispy_field }}
        </div>       
    </div>
    {{ form.notes|as_crispy_field }}
    <hr>
    
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock content %}