{% extends 'setup/base.html' %}

{% block content %}

{% if source.image %}
    <img src="{{ source.image.url }}" width=300px height=65px alt="{{ source.name }}" >
{% endif %}
<hr>
<a class="btn btn-danger btn-sm mt=1 mb=1" href="{% url 'sources-delete' source.id %}">Delete</a>
<a class="btn btn-primary btn-sm mt=1 mb=1" href="{% url 'sources-update' source.id %}">Update</a>
<hr>

<div class="form-group col-md-12 mb-0">
    <b>Source Company: </b> {{ source.name }}
</div>
<div class="form-group col-md-12 mb-0">
    <b>address: </b> {{ source.address }}
</div>
<div class="form-group col-md-12 mb-0">
    <b>Office Phone: </b> {{ source.office_phone }}
</div>
<hr>
<div class="form-group col-md-12 mb-0">
    <b>Primary Contact: </b> {{ source.main_contact }}
</div>
<div class="form-row col-md-12 mb-0">    
    <div class="form-group col-md-6 mb-0">
        <b>Primary Contact Phone: </b> {{ source.contact_phone }}
    </div>
    <div class="form-group col-md-6 mb-0">
        <b>Primary Contact email: </b> {{ source.contact_email }}
    </div>
</div>
<div class="form-group col-md-12 mb-0">
    <b>Billing Contact: </b> {{ source.billing_contact }}
</div>
<div class="form-row col-md-12 mb-0">    
    <div class="form-group col-md-6 mb-0">
        <b>Billing Contact Phone: </b>    {{ source.billing_phone }}
    </div>
    <div class="form-group col-md-6 mb-0">
        <b>Billing Contact email: </b> {{ source.billing_email }}
    </div>
</div>

<div class="form-group col-md-12 mb-0">
    <b>notes:</b> {{ source.notes }}
</div>
<hr>

<table class="table table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            
            <th scope="col">Type</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for item in rates %}
        <tr>
            
            <td>{{ item.report_type }}</td>
            <td>${{ item.amount }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock content %}