{% extends 'setup/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h2>Add or Update an Physician</h2>
<hr>
<form method="POST" class="agent-form" novalidate>{% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-4 mb-0">
            {{ form.first_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
            {{ form.last_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
            {{ form.email|as_crispy_field }}
        </div>
    </div>
    {{ form.address|as_crispy_field }}
    <div class="form-row">
        <div class="form-group col-md-3 mb-0">
            {{ form.home_phone|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ form.mobile_phone|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ form.cpso|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ form.cmpa|as_crispy_field }}
        </div>
    </div>
    {{ form.notes|as_crispy_field }}
    <hr>
    <div class="form-row">
        <div class="form-group col-md-2 mb-0">
            {{ form.rate_ime|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            {{ form.rate_pr|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            {{ form.rate_ad|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            {{ form.rate_ns|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            {{ form.rate_ex|as_crispy_field }}
        </div> 
    </div>
    <div class="form-row">
        <div class="form-group col-md-12 mb-0">
            {{ form.bio|as_crispy_field }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock content%}