{% extends 'setup/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h2>Add or Update an Invoice</h2>
<hr>
<form method="POST" class="invoice-form" novalidate>{% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-4 mb-0">
            {{ form.assessment|as_crispy_field }}
        </div>        
        <div class="form-group col-md-4 mb-0">
            {{ form.report_type|as_crispy_field }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3 mb-0">
            {{ form.number|as_crispy_field }}
        </div>        
        <div class="form-group col-md-3 mb-0">
            {{ form.date|as_crispy_field }}
        </div>
    </div>
    <hr>
    <div class="form-row">
        <div class="form-group col-md-3 mb-0">
            {{ form.subtotal|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ form.tax|as_crispy_field }}
        </div>  
        <div class="form-group col-md-3 mb-0">
            {{ form.total|as_crispy_field }}
        </div>      
    </div>
    <div class="form-row">
        <div class="form-group col-md-12 mb-0">
            {{ form.notes|as_crispy_field }}
        </div>
    </div>
    
    <button id="btn1" type="submit" class="btn btn-primary">Save</button>
</form>

<script>
    var sub = document.getElementById('id_subtotal')
    var tax = document.getElementById('id_tax')
    var tot = document.getElementById('id_total');

    function calculate() {
        var hst = 0.13 * sub.value;
        tax.value = hst.toFixed(2);
        var total = Number(sub.value) + Number(hst);
        tot.value = total.toFixed(2);
    }
    sub.addEventListener('input', calculate);

</script>

{% endblock content%}