{% extends 'setup/base.html' %}

{% block content %}

<div class="container">
    <div class="card">
        <div class="card-header">            
            <strong>360 EHS Invoice #:</strong> {{ invoice.number }}
            <span class="float-right"> <strong>Status:</strong>
                {% if invoice.paid == True %}
                    <font color="green">PAID</font></span>                
                {% else %}
                <font color="red">OUTSTANDING</font></span>
                {% endif %} 

        </div>
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-sm-6">
                    <h6 class="mb-3">From:</h6>
                    <div>
                        <strong>360 Essential Health Solutions</strong>
                    </div>
                    <div>19-2131 Williams Pky </div>
                    <div>Brampton, Ontario L6S 5Z4</div>
                    <div>email: info@360ehs.com</div>
                    <div>Phone: 416 555 5555</div>
                </div>

                <div class="col-sm-6">
                    <h6 class="mb-3">To:</h6>
                    <div>
                        <strong>{{ invoice.assessment.claimant.source.name }}</strong>
                    </div>
                    <div>Attn: {{ invoice.assessment.claimant.source.billing_contact }}</div>
                    <div>{{ invoice.assessment.claimant.source.address }}</div>
                    <div>email: {{ invoice.assessment.claimant.source.billing_email }}</div>
                    <div>Phone: {{ invoice.assessment.claimant.source.billing_phone }}</div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-6">
                    <div><strong>Physician: </strong>Dr. {{ invoice.assessment.doctor }}</div>
                    <div><strong>Claimant: </strong>{{ invoice.assessment.claimant.full_name }}</div>
                    <div><strong>Claim Number: </strong>{{ invoice.assessment.claimant.claim_number }}</div>

                    <div><strong>Notes: </strong><mark>{{ invoice.notes }}</mark></div>
                </div>                
            </div>

            <div class="table-responsive-sm">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="center">Invoice Date</th>
                            <th>Item</th>
                            <th>Description</th>

                            <th class="right">Unit Cost</th>
                            <th class="center">Qty</th>
                            <th class="right">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="center">{{ invoice.date }}</td>
                            <td class="left strong">{{ invoice.report_type.abbreviation }}</td>
                            <td class="left">{{ invoice.report_type.description }}</td>

                            <td class="right">${{ invoice.subtotal }}</td>
                            <td class="center">1</td>
                            <td class="right">${{ invoice.subtotal }}</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-5">

                </div>

                <div class="col-lg-4 col-sm-5 ml-auto">
                    <table class="table table-clear">
                        <tbody>
                            <tr>
                                <td class="left">
                                    <strong>Subtotal</strong>
                                </td>
                                <td class="right">${{ invoice.subtotal }}</td>
                            </tr>                            
                            <tr>
                                <td class="left">
                                    <strong>HST (13%)</strong>
                                </td>
                                <td class="right">${{ invoice.tax }}</td>
                            </tr>
                            <tr>
                                <td class="left">
                                    <strong>Total</strong>
                                </td>
                                <td class="right">
                                    <strong>${{ invoice.total }}</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>

        </div>
    </div>
</div>

{% endblock content %}