{% extends 'setup/base.html' %}

{% block content %}

<h4>Payment Details for : {{ expense }} </h4>
<!-- <a class="btn btn-danger btn-sm mt=1 mb=1" href="{% url 'expenses-delete' expense.id %}">Delete</a>
<a class="btn btn-primary btn-sm mt=1 mb=1" href="{% url 'expenses-update' expense.id %}">Update</a> -->
<hr>

<div class="form-group col-md-12 mb-0">
    <b>360 EHS Reference: </b> {{ expense.reference }} 
</div>
<div class="form-group col-md-12 mb-0">
    <b>Payment Date: </b> {{ expense.date }}
</div>
<div class="form-group col-md-12 mb-0">
    <b>Description: </b> {{ expense.description }}
</div>
<div class="form-group col-md-12 mb-0">
    <b>Payee: </b> {{ expense.payee }}
</div>
<div class="form-group col-md-12 mb-0">
    <b>Total: </b> ${{ expense.total }}
</div>
<div class="form-group col-md-12 mb-0">
    <b>Note: </b> {{ expense.note }}
</div>
<hr>

{% if agentbills %}
  <table class="table table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Claimant</th>
            <th scope="col">Doctor</th>
            <th scope="col">Invoice</th>
            <th scope="col">Assessment Date</th>
            <th scope="col">Total</th>
            <th scope="col">Paid Date</th>
            
        </tr>
    </thead>
    <tbody>
        {% for item in agentbills %}
        <tr>
            <td>{{ item.invoice.assessment.claimant.first_name }} {{ item.invoice.assessment.claimant.last_name }}</a></td>
            <td>{{ item.invoice.assessment.doctor }}</a></td>
            <td>{{ item.invoice }}</td>
            <td>{{ item.invoice.assessment.date }}</td>
            <td>${{ item.total }}</td>
            <td>{{ item.paid_date }}</td>
            
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endif %}

{% if doctorbills %}
  <table class="table table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Claimant</th>
            <th scope="col">Source</th>
            <th scope="col">Invoice</th>
            <th scope="col">Assessment Date</th>
            <th scope="col">SubTotal</th>
            <th scope="col">HST</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for item in doctorbills %}
        <tr>
            <td>{{ item.invoice.assessment.claimant.first_name }} {{ item.invoice.assessment.claimant.last_name }}</a></td>
            <td>{{ item.invoice.assessment.claimant.source }}</a></td>
            <td>{{ item.invoice }}</td>
            <td>{{ item.invoice.assessment.date }}</td>
            <td>${{ item.subtotal }}</td>
            <td>${{ item.tax }}</td>
            <td>${{ item.total }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endif %}

{% endblock content %}