{% extends 'setup/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h2>Add or Update an Assessment</h2>
<hr>
<form method="POST" class="assessment-form" novalidate>{% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-4 mb-0">
            {{ form.claimant|as_crispy_field }}
        </div>
        
        <div class="form-group col-md-4 mb-0">
            {{ form.clinic|as_crispy_field }}
        </div>
    </div>
    
    <div class="form-row">
        <div class="form-group col-md-4 mb-0">
            {{ form.doctor|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
            {{ form.agent|as_crispy_field }}
        </div>
    </div>
    
    <hr>
    
    <div class="form-row">
        <div class="form-group col-md-3 mb-0">
            {{ form.date|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            {{ form.time|as_crispy_field }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock content%}