{% extends 'setup/base.html' %}

{% block content %}

<h4>360 Assessment Detail Page for {{ assessment.Claimant_Name }} </h4>
<a class="btn btn-danger btn-sm mt=1 mb=1" href="{% url 'assessments-delete' assessment.id %}">Delete</a>
<a class="btn btn-primary btn-sm mt=1 mb=1" href="{% url 'assessments-update' assessment.id %}">Update</a>
<hr>
    <div class="form-group col-md-12 mb-0">
        <b>Source:</b> {{ assessment.Source }}  
    </div> 
    <div class="form-group col-md-12 mb-0">
        <b>Physician:</b> {{ assessment.Doctor }}  
    </div>    
    <div class="form-group col-md-12 mb-0">
        <b>Clinic:</b> {{ assessment.Clinic }}
    </div>
    <div class="form-group col-md-12 mb-0">
        <b>Report Type:</b> {{ assessment.Report_Type }}
    </div>
    <div class="form-group col-md-12 mb-0">
        <b>Agent:</b> {{ assessment.Agent }}
    </div>
    <div class="form-group col-md-12 mb-0">
        <b>Claim Number:</b> {{ assessment.Claim_Number }}
    </div>
    <div class="form-group col-md-12 mb-0">
        <b>Date:</b> {{ assessment.AssessmentDate }}
    </div>
    <div class="form-group col-md-12 mb-0">
        <b>Time:</b> {{ assessment.AssessmentTime }}
    </div>
<hr>

{% if assessment.InvoiceNumber == None %}
    <a class="btn btn-primary btn-sm mt=1 mb=3" href="{% url 'invoices-create' assessment.id assessment.Source.id assessment.Report_Type.id %}">Create Invoice</a>
    <hr>
{% else %}


    <table class="table table-sm table-striped">
        <thead class="thead-dark">
            <tr>            
                <th scope="col">Invoice#</th>
                <th scope="col">Date</th>
                <th scope="col">Subtotal</th>
                <th scope="col">HST</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>       
            <tr>            
                <td>{{ assessment.InvoiceNumber }}</td>
                <td>{{ assessment.InvoiceDate }}</td>
                <td>{{ assessment.InvoiceSubtotal }}</td>
                <td>{{ assessment.InvoiceTax }}</td>
                <td>{{ assessment.InvoiceTotal }}</td>
            </tr>
        </tbody>
    </table>


    <table class="table table-sm table-striped">
        <thead class="thead-dark">
            <tr>            
                <th scope="col">Payment</th>
                <th scope="col">Date</th>
                <th scope="col">Amount</th>
                <th scope="col">Check No.</th>    
            </tr>
        </thead>
        <tbody>
            {% for item in payments %}       
            <tr>            
                <td>{{ item.assessment.Source.Name }}</td>
                <td>{{ item.Date }}</td>
                <td>{{ item.Amount }}</td> 
                <td>{{ item.payment.CheckNumber }}</td>                
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %} 

{% endblock content %}

