{% extends 'setup/base.html' %}

{% block content %}

<div class="container">
    <div class="card">
        <div class="card-header">            
            <strong>360 EHS Invoice #:</strong> {{ invoice.InvoiceNumber }}
            <span class="float-right"> <strong>Status:</strong>
                {% if invoice.InvoicePaid == True %}
                    <font color="green">PAID</font></span>                
                {% else %}
                <font color="red">OUTSTANDING</font></span>
                {% endif %} 

        </div>
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-sm-6">
                    <h6 class="mb-3">From:</h6>
                    <div>
                        <strong>360 Essential Health Solutions</strong>
                    </div>
                    <div>19-2131 Williams Pky </div>
                    <div>Brampton, Ontario L6S 5Z4</div>
                    <div>Email: info@360ehs.com</div>
                    <div>Phone: 416 555 5555</div>
                </div>

                <div class="col-sm-6">
                    <h6 class="mb-3">To:</h6>
                    <div>
                        <strong>{{ invoice.Source.Name }}</strong>
                    </div>
                    <div>Attn: {{ invoice.Source.Billing_Contact }}</div>
                    <div>{{ invoice.Source.Address }}</div>
                    <div>Email: {{ invoice.Source.Billing_Email }}</div>
                    <div>Phone: {{ invoice.Source.Billing_Phone }}</div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-6">
                    <div><strong>Physician: </strong>Dr. {{ invoice.Doctor }}</div>
                    <div><strong>Claimant: </strong>{{ invoice.Claimant_Name }}</div>
                    <div><strong>Claim Number: </strong>{{ invoice.Claim_Number }}</div>
                    
                </div>                
            </div>

            <div class="table-responsive-sm">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="center">Invoice Date</th>
                            <th>Item</th>
                            <th>Description</th>

                            <th class="right">Unit Cost</th>
                            <th class="center">Qty</th>
                            <th class="right">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="center">{{ invoice.InvoiceDate }}</td>
                            <td class="left strong">{{ invoice.Report_Type.Abbreviation }}</td>
                            <td class="left">{{ invoice.Report_Type.Description }}</td>

                            <td class="right">${{ invoice.InvoiceSubtotal }}</td>
                            <td class="center">1</td>
                            <td class="right">${{ invoice.InvoiceSubtotal }}</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-5">

                </div>

                <div class="col-lg-4 col-sm-5 ml-auto">
                    <table class="table table-clear">
                        <tbody>
                            <tr>
                                <td class="left">
                                    <strong>Subtotal</strong>
                                </td>
                                <td class="right">${{ invoice.InvoiceSubtotal }}</td>
                            </tr>                            
                            <tr>
                                <td class="left">
                                    <strong>HST (13%)</strong>
                                </td>
                                <td class="right">${{ invoice.InvoiceTax }}</td>
                            </tr>
                            <tr>
                                <td class="left">
                                    <strong>Total</strong>
                                </td>
                                <td class="right">
                                    <strong>${{ invoice.InvoiceTotal }}</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>

        </div>
    </div>
</div>

{% endblock content %}