{% extends 'setup/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h2>Add or Update an Invoice</h2>
<hr>
<form method="POST" class="invoice-form" novalidate>{% csrf_token %}
    <div class="form-row">
        
        <div class="form-group col-md-3 mb-0">
            {{ form.invoice_number|as_crispy_field }}
        </div>        
        <div class="form-group col-md-3 mb-0">
            {{ form.invoice_date|as_crispy_field }}
        </div>
    </div>
    <hr>
    <div class="form-row">
        <div class="form-group col-md-3 mb-0">
            {{ form.invoice_subtotal|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ form.invoice_tax|as_crispy_field }}
        </div>  
        <div class="form-group col-md-3 mb-0">
            {{ form.invoice_total|as_crispy_field }}
        </div>      
    </div>
    
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<script>

  document.getElementById("id_invoice_subtotal").value = {{hold.amount}};
  document.getElementById("id_invoice_tax").value = ({{hold.amount}}/100) * 13;
  document.getElementById("id_invoice_total").value = {{hold.amount}} + ({{hold.amount}}/100) * 13;

</script>
{% endblock content%}