{% extends 'setup/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}


<h5>Unpaid Clinic Invoices:</h5>

<form method="POST" action="{% url 'payclinics' %}" class="payment-form" novalidate>{% csrf_token %}
    <select name="clinic_id">
        {% for clinic in clinics %}
            <option value="{{ clinic.id }}">{{ clinic }} </option>
        {% endfor %}
    </select>    
    <button class="btn btn-primary btn-sm mt=1 mb=3" type="submit">Find Unpaid Invoices</button>
</form>

<hr>

{% if clinicbills %}
<div class="container">
    <div class="row">
        <div class="col">
            <h6>
                <table>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    <tr>
                        <td>From:</td>
                        <td align="right">360 Essential Health Solutions</td>
                    </tr>
                    <tr>
                        <td>Physician:</td>
                        <td align="right">{{ clinic }}</td>
                    </tr>
                    <tr>
                        <td>Date of Check:</td>
                        <td align="right">{% now "jS F Y H:i" %}</td>
                    </tr>
                </table>
                <p></p>
                <table>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    <tr>
                        <td>Subtotal:</td>
                        <td align="right">${{ total }}</td>
                    </tr>
                    <tr>
                        <td>Tax:</td>
                        <td align="right">$0.00</td>
                    </tr>
                    <tr>
                        <td>Total:</td>
                        <td align="right">${{ total }}</td>
                    </tr>
                    <tr>
                        <td>Items:</td>
                        <td align="right">{{ count }}</td>
                    </tr>
                    <tr>
                        <td>
                            <form method="POST" action="{% url 'payclinics' %}" class="payment-form">{% csrf_token %}
                                <input type="text" size="14" name="reference" placeholder="360EHS check #" required>
                                <input type="hidden" name="payclinic_id" value="{{ clinic.id }}">
                                <button class="btn btn-danger btn-sm mt=1 mb=3" type="submit">Pay Agent</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </h6>
        </div>
        <div class="col">
            <img src="{% static "setup/images/360EHS.png" %}" alt="My image">
        </div>
    </div>
</div>

<hr>

<table class="table table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Invoice#</th>
            <th scope="col">Claimant</th>
            <th scope="col">Source</th>
            <th scope="col">Type</th>
            <th scope="col">Date</th>
            <th scope="col">Subtotal</th>
            <th scope="col">Tax</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for bill in clinicbills %}
        <tr>
            <td>{{ bill.invoice }}</td>
            <td>{{ bill.invoice.assessment.claimant }}</td>
            <td>{{ bill.invoice.assessment.claimant.source }}</td>
            <td>{{ bill.invoice.report_type.abbreviation }}</td>
            <td>{{ bill.invoice.assessment.date }}</td>
            <td>{{ bill.total }}</td>
            <td>0.00</td>
            <td>{{ bill.total }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<hr>
{% endif %}
{% endblock content %}