{% extends 'setup/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h4>Process payment: </h4>
<h6>
    <p>Source Company: {{payment.source.name}} {{payment.check_number}}</p>
    <p>amount: ${{payment.amount}}</p>
    <p>Total Applied: ${{total_applied.amount__sum}}</p>
    <p>Balance Remaining: {{payment.applied_balance}}</p>
    <p>Date of check: {{payment.date}}</p>
</h6>

<hr>

<div class="form-group col-md-6 mb-1 mt-1">
    <div>
        <form action="{% url 'process' payment.id %}" method="get" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" required="True" placeholder="Invoice#" aria-label="Search"
                name="search" value="{{ request.GET.search }}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            
            
        </form>
    </div>
    <div>
        {% if messages %}
        {% for message in messages %}
        
            <font size="2" color="red">  {{message}}</font>
        
        {% endfor %}
        {% endif %}
    </div>
</div>



{% if invoice %}

<table class="table table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Assessment</th>
            <th scope="col">Invoice#</th>
            <th scope="col">Date</th>
            <th scope="col">Subtotal</th>
            <th scope="col">HST</th>
            <th scope="col">Total</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ invoice.claimant_name }}</td>
            <td>{{ invoice.invoice_number }}</td>
            <td>{{ invoice.invoice_date }}</td>
            <td>{{ invoice.invoice_subtotal }}</td>
            <td>{{ invoice.invoice_tax }}</td>
            <td>{{ invoice.invoice_total }}</td>
            <td><i class="material-icons">edit</i></td>
        </tr>
    </tbody>
</table>

<hr>

<form method="POST" class="payment-form" novalidate>{% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-2 mb-0">
            {{ form.assessment|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ form.payment|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            {{ form.date|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            {{ form.amount|as_crispy_field }}
        </div>
    </div>
    <button class="btn btn-outline-primary btn-sm" type="submit">Apply Payment</button>
</form>
{% endif %}

<hr>

<h5>Applied Invoices</h5>
<table class="table table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Assessment</th>
            <th scope="col">Invoice#</th>
            <th scope="col">Date</th>
            <th scope="col">Subtotal</th>
            <th scope="col">HST</th>
            <th scope="col">Total</th>
            <th scope="col">Applied</th>
            <th scope="col">Status</th>            
            <th scope="col">Payment</th>            
        </tr>
    </thead>
    <tbody>
        {% for item in applied %}
        <tr>
            <td>{{ item.assessment.claimant_name }}</td>
            <td>{{ item.assessment.invoice_number }}</td>
            <td>{{ item.assessment.invoice_date }}</td>
            <td>${{ item.assessment.invoice_subtotal }}</td>
            <td>${{ item.assessment.invoice_tax }}</td>
            <td>${{ item.assessment.invoice_total }}</td>
            <td class="table-primary">${{ item.amount }}</td>
            <td>{{ item.assessment.invoice_paid }}</td>
            <td><a class="material-icons" href="{% url 'applypayments-delete' item.id %}">delete_outline</a><a class="material-icons" href="{% url 'applypayments-update' item.id %}">edit</a></td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock content %}