{% extends 'setup/base.html' %}

{% block content %}

<h4>360 Rate Detail Page for {{ rate.source.name }}</h4>
<a class="btn btn-danger btn-sm mt=1 mb=1" href="{% url 'rates-delete' rate.id %}">Delete</a>
<a class="btn btn-primary btn-sm mt=1 mb=1" href="{% url 'rates-update' rate.id %}">Update</a>
<hr>

    <div class="form-group col-md-12 mb-0">
        <b>Source:</b> {{ rate.source.name }}
    </div>    
    <div class="form-group col-md-12 mb-0">
        <b>Report Type:</b> {{ rate.report_type }}
    </div>
    <div class="form-group col-md-12 mb-0">
        <b>amount:</b> {{ rate.amount }}
    </div>
    
<hr>

{% endblock content %}