{% extends 'setup/base.html' %}

{% block content %}

<h3>360 EHS Source Companies</h3>
<a class="btn btn-outline-primary btn-sm" href="{% url 'sources-new' %}">+Add</a>
<p></p>

<table class="table table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Source Name</th>
            <th scope="col">Main Contact</th>
            <th scope="col">Main Contact Phone</th>
        </tr>
    </thead>
    <tbody>
        {% for item in sources %}
        <tr>
            <td><a href="{% url 'sources-detail' item.pk %}">{{ item.name }}</a></td>
            <td>{{ item.main_contact }}</td>
            <td>{{ item.contact_phone }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock content %}