{% extends 'setup/base.html' %}

{% block content %}

<h3>List of Clinic Bills</h3>

<table class="table table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Clinic Name</th>
            <th scope="col">Invoice</th>
            <th scope="col">Bill Date</th>
            <th scope="col">Total</th>
            <th scope="col">Paid</th>
            <th scope="col">Paid Date</th>
        </tr>
    </thead>
    <tbody>
        {% for item in clinicbills %}
        <tr>
            {% if item.paid %}
            <td>{{ item.clinic.name }} </td>
            {% else %}
                <td><a href="{% url 'clinicbills-detail' item.pk %}">{{ item.clinic.name }} </a></td>
            {% endif %}
            <td>{{ item.invoice }}</td>
            <td>{{ item.bill_date }}</td>
            <td>{{ item.total }}</td>
            <td>{{ item.paid }}</td>
            <td>{{ item.paid_date }}</td>
        </tr>
        {% endfor %}
    
    </tbody>
</table>

{% endblock content %}