{% extends 'setup/base.html' %}

{% block content %}

<h4>Clinic Bill Detail Page for {{ clinicbill.clinic.name }} </h4>
<button type="button" class="btn btn-danger btn-sm mt=1 mb=1" data-toggle="modal"
    data-target="#deleteModal">Delete</button>
<a class="btn btn-primary btn-sm mt=1 mb=1" href="{% url 'clinicbills-update' clinicbill.id %}">Update</a>
<hr>

    <div class="form-group col-md-12 mb-0">
        <b>Invoice:</b> {{ clinicbill.invoice }}  
    </div>    
    <div class="form-group col-md-12 mb-0">
        <b>Bill Date:</b> {{ clinicbill.bill_date }}
    </div>
    <div class="form-group col-md-12 mb-0">
        <b>Total:</b> {{ clinicbill.total }}
    </div>
    <div class="form-group col-md-12 mb-0">
        <b>Paid:</b> {{ doctorbill.paid }}
    </div>
    <div class="form-group col-md-12 mb-0">
        <b>Date Paid:</b> {{ doctorbill.paid_date }}
    </div>

<hr>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Clinic Bill</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the bill for {{ clinicbill.clinic.name }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form method="POST" action="{% url 'clinicbills-delete' clinicbill.id %}">
                    {% csrf_token %}<input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}