{% extends 'setup/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h2>Add or Update a Claimant</h2>
<hr>
<form method="POST" class="claimant-form" novalidate>{% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-4 mb-0">
            {{ form.title|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
            {{ form.first_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
            {{ form.last_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
            {{ form.source|as_crispy_field }}
        </div>
    </div>
    
    <div class="form-row">
        <div class="form-group col-md-4 mb-0">
            {{ form.date_of_birth|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
            {{ form.claim_number|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
            {{ form.date_of_accident|as_crispy_field }}
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock content%}